@inherits WebBlocks.ViewTemplates.WebBlocksTemplatePage
	
@{ 
    WebBlocks.CssClasses.Add("grid_4"); 
}

<div class="siteBlock featureBlock">
	<div class="blockImage">
		@if(CurrentBlock.link.ToString() != "") 
		{ 
			<a href="@Umbraco.TypedContent(CurrentBlock.link).Url"><img src="@Umbraco.TypedMedia(CurrentBlock.image).Url" alt="@CurrentBlock.Name" /></a> 
		}
		else 
		{ 
			<img src="@Umbraco.TypedMedia(CurrentBlock.image).Url" alt="@CurrentBlock.Name" /> 
		}
	</div>
	
	<div class="blockTitle">
		@if (@CurrentBlock.link.ToString() != "")
        { 
            <a href="@Umbraco.TypedContent(CurrentBlock.link).Url">@CurrentBlock.Name</a> 
        }
		else 
        { 
            @CurrentBlock.Name 
        }
	</div>
		
	@if(@CurrentBlock.content.ToString() != "") {
		<div class="blockContent">@CurrentBlock.content</div>
	}
</div>