@using System.Linq;
@using Umbraco.Core.Models;
@using umbraco.editorControls.tinymce;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    if(umbraco.BusinessLogic.User.GetCurrent() == null) { return; }
    if (Request.QueryString["LE"] == null)
    { 
        <div style="position:fixed;top:0;left:0;z-index:10000;width:100%;">
            <a href="@Request.Url.ToString()?LE=1" style="box-shadow:0px 1px 12px rgba(50, 50, 50, 0.75);-moz-box-shadow:0px 1px 12px rgba(50, 50, 50, 0.75);-webkit-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.75);float:left;padding:10px 10px 0 10px;height:35px;background:#333333;color:white;">Enter Live Edit</a> 
        </div>
        return;
    }

    WebBlocks.DataTypes.WebBlocks.WebBlocksPreValueRepository _preValues 
        = new WebBlocks.DataTypes.WebBlocks.WebBlocksPreValueRepository(umbraco.NodeFactory.Node.GetCurrent());

    WebBlocks.DataTypes.WebBlocks.WebBlocksTinyMCEConfiguration _tinyConfig
        = new WebBlocks.DataTypes.WebBlocks.WebBlocksTinyMCEConfiguration();
}

<link type="text/css" rel="stylesheet" href="/umbraco/plugins/webblocks/css/libraries/jquery-ui.custom.css" />
<link type="text/css" rel="stylesheet" href="/umbraco/plugins/webblocks/css/libraries/jquery.sidr.dark.css" />
<link type="text/css" rel="stylesheet" href="/umbraco/plugins/webblocks/css/webblocks.liveedit.css" />

<script type="text/javascript" src="https://raw.github.com/furf/jquery-ui-touch-punch/master/jquery.ui.touch-punch.js"></script>
<script type="text/javascript" src="/umbraco/plugins/tinymce3/tinymce3tinymceCompress.aspx?themes=umbraco&plugins=@_tinyConfig.Plugins&languages=en"></script>
<script type="text/javascript" src="/umbraco/plugins/webblocks/scripts/libraries/jquery.sidr.min.js"></script>
<script type="text/javascript" src="/umbraco/plugins/webblocks/scripts/webblocks.models.js"></script>
<script type="text/javascript" src="/umbraco/plugins/webblocks/scripts/webblocks.liveedit.js"></script>
<script type="text/javascript">
    var currentNodeId = '@UmbracoContext.Current.PageId';
</script>

@{
    @* set isinbuilder to true so that unpublished content is displayed *@
    WebBlocks.Utilities.WebBlocks.WebBlocksUtility.IsInBuilder = true;
    
    @* set blocks root node so that we can build the left tree *@
    IPublishedContent blocksRootNode = new WebBlocks.Utilities.Umbraco.DynamicContent((int)ViewData["wbBlocksRootNode"]);
    
    @* build up the stylesheets styles *@
    var stylesheetId = (int)ViewData["wbStylesheetId"];

    var stylesheet = new umbraco.cms.businesslogic.web.StyleSheet(stylesheetId);
    var wysiwygStyleSheet = string.Format("/css/{0}.css", stylesheet.Text);
    string wysiwygStyles = "";
    foreach (var style in stylesheet.Properties)
    {
        wysiwygStyles += string.Format("{0}={1};", style.Text, style.Alias);
    }
    wysiwygStyles = wysiwygStyles.TrimEnd(',');
}

<div id="wbLiveEditNav">
    <a id="wbBlockMenuDisplay" href="#sidr" class="button">Open Blocks</a> 
    <a id="wbSave" href="#" class="button">Save</a> 
    <a id="wbSaveAndPublish" href="#" class="button">Save & Publish</a> 
    <a id="wbExit" href="@Request.Url.AbsoluteUri.Split('?').First()" class="button">Exit Live Edit</a>
    <a id="wbDelete" href="#" class="button trash"></a>
    
</div>

@* render the menu where blocks can be dragged from *@
<div id="sidr" style="display:none;overflow:visible;">
    <ul>
        <li class="wbCloseBlocksMenuButton"><a href="#" onclick="javascript:  $.sidr('close', 'sidr');return false;">
                <span style="background:url('/umbraco/images/back.png');width:15px;height:15px;padding:0;float:left;margin:8% 5px 0 -5px;"></span>
                Back
            </a>
        </li>
        <li class="wbAddWysiwygBlock"><a href="#">
                <span style="background:url('/umbraco/plugins/webblocks/images/wysiwyg.gif');width:15px;height:15px;padding:0;float:left;margin:8% 5px 0 -5px;"></span>
                Wysiwyg Block
            </a>
        </li>
        @{
            WebBlocks.Utilities.Umbraco.IconProvider iconProvider = new WebBlocks.Utilities.Umbraco.IconProvider();

            foreach (var block in blocksRootNode.Children)
            {
                string icon = iconProvider[block.DocumentTypeAlias];
                string styleBackgroundToAdd = !icon.StartsWith(".") ? "background:url('/umbraco/images/umbraco/" + @icon + "');" : "";
                string classesToLoad = icon.StartsWith(".") ? "iconSprites " + icon.Trim('.') : "";
                
                <li><a wbid="@block.Id" href="#" style="background:none repeat scroll 0 0 #333333;"><span class="@(classesToLoad)" style="@(styleBackgroundToAdd)width:15px;height:15px;padding:0;float:left;margin:8% 5px 0 -5px;"></span>@block.Name</a>
                    @RenderBlockChildren(block, iconProvider)
                </li>
            }
        }
    </ul>
    
</div>

<div id="containerPermissionsDialog" title="Not Allowed" style="display:none;">
    <p>
        <span class="ui-icon webblocks-ui-icon-exclamation" style="float: left; margin: 3px 7px 50px 0;"></span>
        This block cannot be added to this container.
    </p>
    <p class="containerPermissionsMessage">
        
    </p>
</div>

<div id="wysiwygNotAllowedDialog" title="Not Allowed" style="display:none;">
    <p>
        <span class="ui-icon webblocks-ui-icon-exclamation" style="float: left; margin: 3px 7px 50px 0;"></span>
        Wysiwyg blocks cannot be added to this container.
    </p>
</div>

@helper RenderBlockChildren(IPublishedContent blockParent, WebBlocks.Utilities.Umbraco.IconProvider iconProvider)
{
    if (blockParent.Children.Any())
    {
        <ul style="display:none;">
            @foreach (var block in blockParent.Children)
            {
                string icon = iconProvider[block.DocumentTypeAlias];
                string styleBackgroundToAdd = !icon.StartsWith(".") ? "background:url('/umbraco/images/umbraco/" + @icon + "');" : "";
                string classesToLoad = icon.StartsWith(".") ? "iconSprites " + icon.Trim('.') : "";
                
                <li><a wbid="@block.Id" href="#" style="background:none repeat scroll 0 0 #333333;"><span class="@(classesToLoad)" style="@(styleBackgroundToAdd)width:15px;height:15px;padding:0;float:left;margin:8% 5px 0 -5px;"></span>@block.Name</a>
                    @RenderBlockChildren(block, iconProvider)
                </li>
            }
        </ul>   
    }
}

<!-- Tiny MCE -->
<div id="tinymce" style="display: none;">
    <div></div>
    <div class="tinymceMenuBar" id="tinyMceWysiwygMenuBar"></div>
    <textarea name="tinyMceWysiwyg" id="tinyMceWysiwyg" rows="2" cols="20" class="tinymceContainer"></textarea>
</div>
<iframe id="editBlockIframe" style="display: none;"></iframe>

<!-- initialise tiny mce -->
<script type="text/javascript">
    //<![CDATA[
    function initTinyMCE(callback) {
        return tinyMCE.init({
            mode: "exact",
            theme: "umbraco",
            umbraco_path: "/umbraco",
            width: '@_preValues.EditorWidth',
            height: '@_preValues.EditorHeight',
            theme_umbraco_toolbar_location: "external",
            skin: "umbraco",
            inlinepopups_skin: "umbraco",
            plugins: "@_tinyConfig.Plugins",
            umbraco_advancedMode: true,
            umbraco_maximumDefaultImageWidth: "500",
            language: "en",
            content_css: "@wysiwygStyleSheet",
            theme_umbraco_styles: "@wysiwygStyles",
            theme_umbraco_buttons1: "@_preValues.GetSelectedButtonsWithSeparators()",
            theme_umbraco_buttons2: "",
            theme_umbraco_buttons3: "",
            theme_umbraco_toolbar_align: "left",
            theme_umbraco_disable: "",
            theme_umbraco_path: true,
            extended_valid_elements: "div[*]",
            document_base_url: "/",
            relative_urls: false,
            remove_script_host: true,
            event_elements: "div",
            paste_auto_cleanup_on_paste: true,
            paste_remove_spans: true,
            valid_elements: @Html.Raw(_tinyConfig.ValidElements),
            invalid_elements: '@_tinyConfig.InvalidElements',
            theme_umbraco_pageId: currentNodeId,
            theme_umbraco_versionId: '92aefc72-6274-453f-981b-9f15e1582c68',
            umbraco_toolbar_id: "tinyMceWysiwygMenuBar",
            elements: "tinyMceWysiwyg",
            oninit: callback @Html.Raw(_tinyConfig.ConfigOptions)
        });
    }
    //]]>
</script>

<!-- NOTES:
    http://stackoverflow.com/questions/3279477/ipad-drag-and-drop
http://stackoverflow.com/questions/4755505/how-to-recognize-touch-events-using-jquery-in-safari-for-ipad-is-it-possible
     -->
